// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available theme

.bespoke-slide
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background : linear-gradient(#EEEEE0, #E0EEE0)
    background-size : 100%
    
.bespoke-before
    transform : rotateY(90deg)

.bespoke-after
    transform : rotateY(-90deg)

article
    padding : 0px
    margin : 0px
    background:linear-gradient(#EEEEE0, #E0EEE0)
    
section
    background :linear-gradient(#EEEEE0, #E0EEE0)

.test1    
    width: 50%
    height : 80%
    background : transparent
h1
    color : black
    font-size : 50px
    font-style : italic
    font-weight : strong
        
.test2
    background : gray
    color : black
    font-style : italic
    font-weight : bold
    
.test3
    background : transparent
    background-repeat: no-repeat
    
.test3 h1
    color : black
    margin-bottom : 0px
    
.test4 img
    margin-top : 50px
    margin-bottom : 10px
    width:1000px
    height:780px

.test4 h1
    color : white

.test5 img
    width  :1000px

.test5 p
    color : black
    font-size : 20px
    font-style :oblique

.test6 img
    width:1000px
    height:500px

.test7 img
    margin-top :0px
    height : 300px
    
.test7 
    font-size : 23px
    text-align : center
    font-weight: bold
    font-style : sans-serif
    color : black
    left:45%
    background : transparent
    width:770px
    position : center

.font
    color : blue
    
