// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available theme


.bespoke-slide
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background : linear-gradient(#EEEEE0, #E0EEE0)
    background-size : 100%
    width : 1200px;
    padding :0px
    height : 600px;
    margin-top : -300px
    margin-left :-600px

.bespoke-before
    transform : rotateY(90deg)

.bespoke-after
    transform : rotateY(-90deg)

article
    padding : 0px
    margin : 0px
    background:linear-gradient(#EEEEE0, #E0EEE0)
    
section
    background :linear-gradient(#EEEEE0, #E0EEE0)

.test1   
    background : transparent
    
h1
    color : black
    font-size : 51px
    font-style : italic
    font-family :Garamond
    font-weight : bold

.test2
    background : url(../images/gambar.jpg)
    color : black
    font-style : italic
    font-weight : bold
    background-position : outside
.test2 ol li
    list-style-position : inside
    
.test3
    background : transparent
    background-repeat: no-repeat
    
.test3 h1
    color : black
    margin-bottom : 0px
    
.test4 img
    margin-top : 50px
    margin-left:40px
    margin-bottom : 10px
    width:1300px
    height:700px

.test5 img
    width  :1300px

.test5 p
    color : black
    font-size : 20px
    font-family :oblique

.test6 img
    width:1260px
    margin-left:10px
    height:690px
    margin-top : 50px

.test7 img
    margin-top :0px
    height : 300px
    
.test7 
    font-size : 23px
    text-align : center
    font-weight: bold
    font-family : sans-serif
    color : black
    left:72%
    background : transparent
    width:770px
    position : center

.font h1
    font-family : oblique
    color : blue
    
.data p
    font-family : Courier
    font-size : 20px
    color : red
h3
    font-weight : bold
    color : black
    font-size : 30px
    font-style : italic
    font-family : oblique

.data img
    width : 800px
    height : 400px