// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available theme

.bespoke-slide
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background : linear-gradient(#EEEEE0, #E0EEE0)
    background-size : 100%
    
.bespoke-before
    transform : rotateY(90deg)

.bespoke-after
    transform : rotateY(-90deg)

article
    padding : 0px
    margin : 0px
    background:linear-gradient(#EEEEE0, #E0EEE0)
    
section
    background :linear-gradient(#EEEEE0, #E0EEE0)

.test1    
    width: 50%
    height : 80%
    background : transparent
h1
    color : black
    font-size : 50px
    font-style : italic
    font-weight : strong
        
