doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.test1
        h1 Tugas TKPPL
        
      section.test2
        h2.tst Nama Kelompok : 
        ol.bullet
            li Calwin - 14.111.1294
            
            li Alvin Pangantar - 14.111.1286
            
            li Edward Surya Jaya - 14.111.1235
            
            li HenHen - 14.111.1260
      
      section.test4
        <img alt="test" src="../images/test3.jpg"/>
     
      section.test3
        h1 Apa itu Virtual Reality?
        <img alt="mikir" src ="../images/mikir1.png"/> 
        
      section.font
        h1 Terus Apa itu Oculus ???
        
      section.test7        
        p Oculus Rift adalah output display seperti juga halnya layar komputer yang menampilkan dunia virtual 3 dimensi, hanya saja alat tersebut diletakkan sangat dekat dengan mata (seperti di gambar) disebut juga sebagai VR HMD (Virtual Reality – Head Mounted Display).
        <img alt="test2" src="../images/oculus.png"/>
        
      section.font
        h1 Perbedaan Oculus Rift Dengan Virtual Reality??
    
    script(src='build/build.js')