doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Tugas TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')
    link(rel='stylesheet', type='text/css', href='build/thema.css')
  body

    article
    
      section.judul
            h1 Tugas Projek TKPPL
        
      section.namakelompok
        h1.bullet Judul : Virtual RIFT
        h2.bullet Yang Akan kami bahas adalah :
        ul
            li.bullet Oculus Rift
            li.bullet Samsung Virtual RIFT
            
      section.namakelompok
        
        h2.bullet Nama Kelompok : 
        
            ol.bullet

                li Calwin - 14.111.1294

                li Alvin Pangantar - 14.111.1286

                li Edward Surya Jaya - 14.111.1235

                li HenHen - 14.111.1260

      section.pembuka
        <img alt="test" src="../images/test3.jpg"/>
     
      section.virtual
        h1 Apa itu Virtual Reality?
        <img alt="mikir" src ="../images/mikir1.png"/> 
    
      section.penjelasan
        <img alt="test" src ="../images/Virtual.jpg"/>
              
      section.test6
        <img alt = test" src="../images/front.jpg"/>
        
       section.font
        h1 Terus Apa itu Oculus Rift dan Samsung Virtual RIFT ???
         
      section.gambar     
        p Oculus Rift dan Samsung Virtual Rift adalah output display seperti juga halnya layar komputer yang menampilkan dunia virtual 3 dimensi, hanya saja alat tersebut diletakkan sangat dekat dengan mata (seperti di gambar) disebut juga sebagai VR HMD (Virtual Reality – Head Mounted Display).
        <img alt="test2" src="../images/oculus.png"/>
        
      section.font
         h1 Spesifikasi Oculus Rift dan Samsung VR??
    
      section.oculus
        h3 Oculus Rift
        ul.bullet
            li Resolusi: 2160 x 1200 pixels
            li Refresh Rate: 90 Hz / eye display
            li Bidang Pandang: 110 derajat
            li Sensor: Accelerometer, gyroscope, magnetometer, external Constellation tracking sensor array
            li Audio: Built-in headphones and mic, 3D audio
            li Input: Oculus Touch, Xbox One controller (included)
            li Platform: Oculus Home
            
       section.samsung
        h3 Samsung VR
        ul.bullet
            li Refresh Rate: 60 Hz
            li Bidang Pandang: 96 derajat
            li Sensor: Accelerometer, gyrometer, geomagnetic, proximity
            li Penyesuaian Fokus: Menggunakan skrol di depan headset
            li Koneksi: Micro USB untuk terhubung ke smartphone yang kompatibel
            li Audio: Built-in audio, built-in mic
            li Input: Touchpad, back button, volume key
            li Platform: Smartphone Samsung 
            
      section.data
        h3.bullet Harga dari Oculus ??  
        p.bullet Sekitar $600 atau sekitar 8 jutaan Rupiah Setelah Dikonversi
        p.bullet Selain mendapat headset , paket pembelian Oculus Rift sudah meliputi satu kontrolel Xbox One , satu sensor , dan kopian Gratis game Eve: Valkyrie dan Lucky's Tale.
      
      section.data
        h3.bullet Harga dari Samsung Virtual Rift ??
        p.bullet Harganya sekitar 1,5 jutaaan + Samsung Galaxy Note 5 atau Keluarga Galaxy s6 yang harganya sekitar 7jutaan    
    
      section.tabel
        h1.bullet Tabel Perbedaan Oculus Rift dan Samsung VR
        <img alt="tabel" src="../images/tabel.jpg"/>  

      section.font
        h1 Fungsi dari Oculus dan Samsung VR ???
      
      section.data
        h3.bullet Dalam Gaming 
        p.bullet  pemain game benar-benar merasa hadir dalam game. Dengan desain game stereo (mata kiri dan mata kanan memiliki tampilan sendiri) dan offset yang diukur dengan tepat, maka akan meningkatkan level kehadiran pemain dalam game. Bahkan dari beberapa review pemain game sering lupa bahwa dia berada dalam game.
        
        .bullet<img alt="gambar" src="../images/game.jpg" align="bottom" border="5"/>  
        
      section.data
        h3.bullet Dalam Tour Wisata
        p.bullet Dengan menggunakan Oculus/Samsung VR kita dapat seolah-olah berada diTokyo atau Berlin. Tidak perlu lagi repot-repot untuk kesana anda sudah dapat merasakan wisata tersebut. Seru bukan??
        .bullet<img alt="gambar" src="../images/tour.jpg" align="bottom" border="5"/>  
        
      section.data
        h3.bullet Dalam Dunia Kedokteran
        p.bullet Pada Bidang Kedokteran , Virtual Reality biasanya digunakan untuk mendeskripsikan bagian anatomi tubuh ( simulasi anotomi tubuh manusia) sehingga organ-organ dalam tubuh tampak terlihat lebih nyata. Sehingga para dokter dan ahli bedah tidak perlu melakukan pembedahan.
        .bullet<img alt ="gambar"src="../images/dokter.jpg" align="bottom" border="5"/>
        
      section.data
        h3.bullet Dalam Bidang Militer
        p.bullet Pada Bidang militer, Oculus/Samsung VR dapat digunakan sebagai simulasi perang. Para tentara akan merasakan situasi dimedan pertempuran yang terlihat secara nyata.Cara ini dipilih karena cukup efektif dalam mengadakan latihan perang dan lebih hemat biaya dibandingkan latihan perang yang sebenarnya.
        
        .bullet<img alt ="gambar"src="../images/militer1.jpg" align="bottom" border="5"/>
      
      section.data
         h3.bullet Motion Sickness di Virtual Reality
         ul
            li Pengguna akan merasa pusing karena content yang dilihat bergerak terlalu cepat dan kadang-kadang bergerak keatas dan kebawah secara tiba-tiba.
            li Contoh nya pada game Temple Run dan Menonton Video Roller Coaster
               
      section.data
         h3.bullet Aplikasi-Aplikasi yang populer di VR
         ul.bullet
            li ARTE360 VR 
                p.bullet ARTE360 VR adalah salah satu app terbaik yang tersedia. Ini adalah aplikasi video VR yang menunjukkan tempat yang indah di VR. Dengan membantu pengguna dapat dengan mudah melihat Gunung, tempat lama eplore, hutan, lautan, dan semua hal-hal lain yang ingin Anda lihat. Anda dapat melihat-lihat dan dapat merasa bahwa bagian dari dunia.
            li Google Street View VR
                p.bullet Google street View adalah aplikasi yang tersedia di google play. App ini memungkinkan para penggunanya untuk menjelajahi dunia hanya dengan menavigasi. Menggunakan aplikasi ini satu dapat dengan mudah melihat salah satu bangunan yang ada di dunia. Anda hanya perlu memuat aplikasi dan harus menulis tujuan dan Anda akan berada di sana.
            li Sisters
                p.bullet Bagi yang gemar dengan film-film horror, Sisters layak dicoba. Walaupun masih dibatasi oleh kualitas animasi yang belum terlihat seperti nyata, Sisters tetap menawarkan sensasi berada di dunia virtual yang mencekam. Jangan lupa gunakan headphone yang mumpuni agar bisa lebih menikmati teror demi teror yang menghampiri Anda.
                
      section.video
        h1 Video Nenek-Nenek umur 90tahun mencoba menggunakan VR!!!
        <video src="video/Video.mp4" type="video/mp4" controls width="500px">
           
      section.end
        h1 Terima Kasih Atas Waktu Kalian!!!
  
script(src='build/build.js')