doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title TKPPL

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.test1
        h1 Tugas TKPPL
        
      section.test2

        h2.tst Nama Kelompok : 
        ol.bullet
            li Calwin - 14.111.1294
            
            li Alvin Pangantar - 14.111.1286
            
            li Edward Surya Jaya - 14.111.1235
            
            li HenHen - 14.111.1260
      
      section.test4
        <img alt="test" src="../images/test3.jpg"/>
     
      section.test3
        h1 Apa itu Virtual Reality?
        <img alt="mikir" src ="../images/mikir1.png"/> 
    
      section.test5
        <img alt="test" src ="../images/test2.jpg"/>
              
      section.test6
        <img alt = test" src="../images/front.jpg"/>
        
       section.font
        h1 Terus Apa itu Oculus ???
        
      section.test7        
        p Oculus Rift adalah output display seperti juga halnya layar komputer yang menampilkan dunia virtual 3 dimensi, hanya saja alat tersebut diletakkan sangat dekat dengan mata (seperti di gambar) disebut juga sebagai VR HMD (Virtual Reality – Head Mounted Display).
        <img alt="test2" src="../images/oculus.png"/>
        
      section.font
         h1 Perbedaan Oculus Rift Dengan Virtual Reality??
    
      section.test8
        h3 Sebenarnya sama saja
        ul.bullet
            li Hanya saja VR Memerlukan handphone lagi , dihandphone tersebut terdapat APP nya
            li Sedangkan Oculus Rift sudah tergabung dengan alatnya
            li VR Refresh Rate sekitar 60Hz
            li Oculus Refresh Rate sekitar 90Hz sehingga pergerakannya lebih halus 
            li Oculus jarak pandang lebih luas dibanding VR
      
      section.font
        h1 Fungsi dari Oculus dan VR
      
      section.data
        h3.bullet Dalam Game 
        p.bullet  pemain game benar-benar merasa hadir dalam game. Dengan desain game stereo (mata kiri dan mata kanan memiliki tampilan sendiri) dan offset yang diukur dengan tepat, maka akan meningkatkan level kehadiran pemain dalam game. Bahkan dari beberapa review pemain game sering lupa bahwa dia berada dalam game.
      
      section.data
        h3.bullet Dalam Tour Wisata
        p.bullet Dengan menggunakan Oculus/VR kita dapat seolah-olah berada diTokyo atau Berlin. Tidak perlu lagi repot-repot untuk kesana anda sudah dapat merasakan wisata tersebut. Seru bukan??
      
      section.data
        h3.bullet Dalam Kedokteran
        p.bullet Dengan menggunakan Oculus/VR dapat digunakan untuk mahasiswa jurusan kedokteran , mahasiswa dapat seolah-olah melihat pembedahan secara langsung dari mata pertama, seakan-akan dia yang melakukan pembedahan.
      
        
    script(src='build/build.js')